{% extends 'master.html' %}

    {% block content %}

        <section class="content-header">
            <h2>
                At a glance:
            </h2>
        </section>

        <section class="content">
            <div class="row">

                <!-- Total Savings Person -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Total Savings Person</h3>
                        </div>

                        <h2 class="box-body">
                            37
                        </h2>
                    </div>
                </div>
                <!-- //Total Savings Person -->

                <!-- Cash In-hand -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cash In-hand</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Cash In-hand -->

                <!-- Saving Per Week -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Saving Per Week</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Saving Per Week -->

                <!-- Due Savings -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Due Savings</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Due Savings -->

                <!-- Total Borrower -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Total Borrower</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Total Borrower -->

                <!-- Borrows In-field -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Borrows In-field</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Borrows In-field -->

                <!-- Borrow Per Week -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Borrow Per Week</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Borrow Per Week -->

                <!-- Due Borrow -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Due Borrow</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Due Borrow -->

            </div>
        </section>

        <section class="content-header">
            <h2>
                Last Week :
            </h2>
        </section>

        <section class="content">
            <div class="row">

                <!-- New Savings Join -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">New Savings Join</h3>
                        </div>

                        <h2 class="box-body">
                            37
                        </h2>
                    </div>
                </div>
                <!-- //New Savings Join -->

                <!-- Savings Credit -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Savings Credit</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Savings Credit -->

                <!-- Credit Due Savings -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Credit Due Savings</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Credit Due Savings -->

                <!-- New Savings Due -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">New Savings Due</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //New Savings Due -->

                <!-- New Borrower Join -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">New Borrower Join</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //New Borrower Join -->

                <!-- Borrow Credit -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Borrow Credit</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Borrow Credit -->

                <!-- Credit Due Borrow -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Credit Due Borrow</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //Credit Due Borrow -->

                <!-- New Borrow Due -->
                <div class="col-lg-3 col-md-3 col-xs-6 text-center">
                    <div class="box box-success box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">New Borrow Due</h3>
                        </div>

                        <h2 class="box-body">
                            200
                        </h2>
                    </div>
                </div>
                <!-- //New Borrow Due -->

            </div>
        </section>

    {% endblock %}
