{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>

        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <!-- Title -->
        <title>Pluto InfoTech | Somiti Software</title>

        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <!-- CSS Files -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    </head>


    <body class="hold-transition login-page">
        <div class="login-box">

            <!-- Logo -->
            <div class="login-logo">
                <a href="login.html"><b>Pluto</b> InfoTech</a>
            </div>
            <!-- //Logo -->

            <div class="login-box-body">
                <p class="login-box-msg">You have logged out.</p>

                <a href="{% url 'login' %}">Login Again</a>
            </div>
        </div>


        <!-- Footer -->
        <footer class="main-footer our_footer">
            Copyright &copy; 2018 <a href="https://plutoinfotech.com" target="_blank">Pluto InfoTech</a>. All rights reserved.
        </footer>
        <!-- //Footer -->
    </body>
</html>
